node_modules
.nuxt
.output
dist
build
.git
.gitignore
.DS_Store
*.log
.env
.env.local
.env.*.local
.vscode
.idea
coverage
.cache
.history
*.sublime-*
devenv.local.nix
devenv.lock
.nixpkgs
.direnv
processes.log
.metals
k6-load-testing
backend/scripts
backend/sql/*.sqlpp
backend/sql/*.sqlppnb
backend/.env.stage
ansible/config/id_rsa*
remote-schema.graphql
.graphqlconfig

