* {
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

body {
  cursor: default;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  -webkit-overflow-scrolling: touch;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

picture {
  img,
  source {
    pointer-events: none;
  }
}

.card {
  background: var(--color-grey2);
  border-radius: 4px;
  padding: 4px;
}
