:root {
  --font-rubik: Rubik, sans-serif;

  // Default font
  --font-family: var(--font-rubik);

  --border-radius: 21px;

  --color-black: #000;
  --color-text-black: #1A1A1A;
  --color-black-025: rgba(0, 0, 0, 0.25);
  --color-black-045: rgba(0, 0, 0, 0.45);
  --color-black-050: rgba(0, 0, 0, 0.5);
  --color-black-085: rgba(0, 0, 0, 0.85);
  --color-grey2: #333333;
  --color-grey-light: #8b91a7;
  --color-brown: #533B0F;
  --color-white: #FFF;
  --color-white-03: rgba(255, 255, 255, 0.3);
  --color-blue: #83cbff;
  --color-yellow: #FFCC00;
  --color-orange: #FF9500;
  --color-orange2: #FAB424;
  --color-orange3: #F78000;
  --color-red: #A12800;

  --color-button-secondary: #D89E60;
  --color-button-secondary-light: #FFDFDD;

  --color-button-blue: #239BD6;

  // Button Primary Solid
  --button-primary-solid-background-default: #fe9920;
  --button-primary-solid-background-hover: #ffa538;
  --button-primary-solid-background-pressed: #ffa538;
  --button-primary-solid-background-disabled: #ffd097;

  // Button Secondary Solid
  --button-secondary-solid-background-default: #fafafa;
  --button-secondary-solid-background-hover: #f6f6f6;
  --button-secondary-solid-background-pressed: #f6f6f6;
  --button-secondary-solid-background-disabled: #fcfcfc;
  --button-secondary-solid-background-loader: #f6f6f6;
  --button-secondary-solid-text-default: #b5b5b5;
  --button-secondary-solid-text-hover: #646464;
  --button-secondary-solid-text-pressed: #838383;
  --button-secondary-solid-text-disabled: #b5b5b5;
  --button-secondary-solid-icon-default: #b5b5b5;
  --button-secondary-solid-icon-hover: #646464;
  --button-secondary-solid-icon-pressed: #838383;
  --button-secondary-solid-icon-disabled: #b5b5b5;

  // theme
  --color-green-dark: #004C4D;
  --color-green: #006466;
  --color-green-light: #1B7875;
  --color-green-faded: #5D7272;

  --font-color: var(--color-black);

  --color-main-dark: var(--color-green-dark);
  --color-main: var(--color-green);
  --color-main-light: var(--color-green-light);

  --color-danger: var(--color-red);

  --background-color: var(--color-text-black);

  // Box shadow
  --box-shadow: 0 2px 4px 0 var(--color-black-025);

  // Dark theme
  //@media (prefers-color-scheme: dark) {
  //  --prod-background: #d06872;
  //  --color-icons: #000;
  //}
}

.color-yellow { color: var(--color-yellow); }
.color-orange { color: var(--color-orange); }
